* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.calculator {
    margin: auto;
    width: 450px;
    height: 367px;
    padding: 20px;
    background-color: #242530;
    justify-items: center;
}

.display {
    width: 400px;
    height: 70px;
    border-radius: 20px;
    background-color: #3A3F77;
    padding: 20px;
    display: flex;
    margin-bottom: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

button {
    background-color: #404258;
    width: 65px;
    height: 45px;
    border-radius: 9999px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    justify-content: center;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    box-shadow: none;
    transition: background-color, 0.3s;
    appearance: none;
    -webkit-appearance: none;
}

button:hover {
    background-color: #585b79;
}

.operator:hover {
    background-color: #ffa51e;
}

.equal-operator:hover {
    background-color: #c8c7c7;
}

.operator {
    background-color: #da8d1b;
}

.equal-operator {
    background-color: #B2B2B2;
    color: black;
}